@media screen and (max-width: 680px) {
	.menu_block {
		position absolute!important
		background-color transparent!important
	}

	.menu_block a {
		margin-bottom 40px!important
	}

	.menu_block a.hidden {
		display inline-block!important
	}

	.menu_block .mail {
		margin-top 40px
	}

	.menu_drop {
		display none!important
	}

	.poster_block {
		opacity .5
	}
}