.cv_block
	display flex!important
	flex-direction column
	justify-content flex-start

.peoples_block
	margin-top 0!important
	margin-bottom 60px!important
	order 1
	.block_title
		width auto!important
		float none!important
	.block_items
		width auto!important
		float none!important
		display flex
		justify-content space-between
		.block_item
			float left!important
			margin-left 0!important
			margin-right 10px!important
			width 25%!important
			text-align center
			.item_photo
				width 70px!important
				height 90px!important

.contacts_block
	order 2
	.cv_email
		display none!important
	.cv_adress
		width auto!important
		float none!important
		margin-top 0px!important
		padding 0!important
	.cv_body
		width auto!important
		float none!important
		padding 0!important
		margin-top 60px!important

.awards_block
.events_block
	.block_cut
		text-align center
	.block_item
		display flex!important
		flex-direction column
		justify-content flex-start
		margin-bottom 40px
		// border-color grey!important
		position relative
		&.hidden
			display none!important
		&:last-child
			margin-bottom 0
		.item_title
			padding-top 0!important
			padding-bottom 10px!important
			display flex!important
			padding-right 0!important
			margin-bottom 10px
			width 100%!important
			order 2!important
		.item_s_title
			padding-top 0!important
			padding-bottom 10px!important
			display flex!important
			width 100%!important
			padding-right 0!important
			margin-bottom 10px
			order 1!important
		.item_place
			padding-top 0!important
			padding-bottom 40px!important
			order 3!important
			width 80%!important
			padding-right 20px
			// color grey
		.item_year
			padding-top 0!important
			padding-bottom 40px!important
			order 4!important
			width 10%!important
			position absolute
			right 10px
			bottom 0
			// color grey