@media screen and (max-width: 680px) {
	.title_block, .content_block, .footer_block {
		padding-left 20px!important
		padding-right 20px!important
	}

	.menu_block {
		// display inline-flex!important
		display none!important
		flex-direction: column
		font 18pt/20pt 'MinionPro Semibold'!important
	}

	.menu_block a {
		margin-bottom 40px
	}

	.menu_block .mail {
		display block!important
		margin-top 80px
		font 14pt/16pt 'MinionPro Semibold'!important
	}

	.stargazer_block {
		display none!important
	}

	.footer_block .logo {
		display none
	}

	.footer_block .contacts a {
		margin-left 5px
	}

	.footer_block .contacts span {
		display none!important
	}

	.footer_block .contacts img {
		display inline!important
	}
}

html, body
	margin 0
	padding 0
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

a
	color black

.title_block a, .footer_block a
	text-decoration none
	span
		border-bottom 1px solid transparent
		&:hover
			border-bottom 1px solid black
	&.active span
		text-decoration none
		border-bottom 1px solid black

.main_block
	max-width 960px
	margin 0 auto
	overflow hidden
	position relative
	padding-top 20px
	padding-bottom 20px
	box-sizing border-box
	font 12pt/14pt 'MinionPro Medium'
	// border 1px solid red

.title_block
	height 100px
	padding-left 40px
	padding-right 40px
	padding-bottom 40px
	.stargazer_block
		margin-top 5px
	.menu_block
		z-index 99999
		position relative
		font 14pt/16pt 'MinionPro Medium'
		display flex
		justify-content space-between
		border-bottom 1px solid transparent
		letter-spacing 4px
		.mail
			display none
		span
			padding-bottom 1px

.content_block
	padding-left 40px
	padding-right 40px
	box-sizing border-box

.footer_block
	padding-top 150px
	padding-left 40px
	padding-right 40px
	box-sizing border-box
	display flex
	justify-content space-between
	align-items flex-end
	.logo, .contatcs
		flex 5
	.language
		flex 4
	a
		margin-right 10px
		&:last-child
			margin-right 0
	img
		display none