@media screen and (max-width: 680px) {
	.menu_block {
		position absolute!important
		background-color transparent!important
	}

	.menu_block a {
		margin-bottom 40px!important
	}

	.menu_block a.hidden {
		display block!important
	}

	.menu_drop {
		display none!important
	}

	.poster_block {
		opacity .5
	}
}

html, body, .main_block
	height 100%

.poster_block
	.poster_item
		display block
		max-width 75%
		max-height 75%
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		margin auto
		cursor pointer
		visibility hidden
		opacity 0
		transition visibility 0s linear 0.5s, opacity 0.5s linear
		&.active
			visibility visible
			opacity 1
			transition-delay 0s

.footer_block
	bottom 20px
	width 100%
	position absolute
	padding-top 50px