.block_title
	font 26pt/28pt 'MinionPro Medium'
	margin-top 100px
	margin-bottom 60px
	letter-spacing 2px

.block_poster
	width 100%
	display block

.cv_block
	overflow hidden
	.cv_email
		font 26pt/28pt 'MinionPro Semibold'
		text-decoration none
		display inline-block
		float left
		letter-spacing 2px
		border-bottom 1px solid transparent
		&:hover
			border-bottom 1px solid black
	.cv_adress
		clear both
		margin-top 80px
		width 40%
		float left
		padding-right 20px
		box-sizing border-box
		font 26pt/28pt 'MinionPro Semibold'
		letter-spacing 2px
	.cv_body
		margin-top 80px
		width 60%
		float right
		padding-left 20px
		box-sizing border-box
		hyphens auto
		font 16pt/22pt 'MinionPro Medium'


.peoples_block
	overflow hidden
	margin-top 40px
	margin-bottom 100px
	.block_title
		float left
		margin-top 0
		width 10%
	.block_items
		width 90%
		float right
		overflow hidden
		.people_item
			display block
			text-decoration none
			float right
			margin-left 40px
			.people_photo
				width 140px
				height 180px
				margin-bottom 10px
				background-position center
				background-repeat no-repeat
				background-size contain
				transition .3s linear
			.people_name
			.people_open
				text-align center
				font 16pt/22pt 'MinionPro Medium'
			.people_open
				display none
			&:hover
				.people_name
					display none
				.people_open
					display block
				.people_photo
					transition .3s linear
					opacity .5

.press_block
	position relative
	.swiper-wrapper
		padding-bottom 60px
	.press_item
		min-height 200px
		display block
		text-decoration none
		.press_poster
			opacity 0
			transition .3s linear
			position absolute
			z-index 99999
			width 100%
			height 100%
			background-position center
			background-size contain
			background-repeat no-repeat
		&:hover
			.press_poster
				transition .3s linear
				opacity 1
			.press_title, .press_s_title, .press_year
				opacity .4
		.press_title
			font 26pt/28pt 'MinionPro Medium'
			margin-bottom 20px
		.press_s_title
			font 16pt/22pt 'MinionPro Medium'
		.press_year
			color grey
			font 16pt/22pt 'MinionPro Medium'

.awards_block
	.block_title
		margin-top 80px
	.block_items
		width 100%
		display table
		border-collapse collapse
		.award_item
			display table-row
			overflow hidden
			border-bottom 20px solid transparent
			&:last-child
				border-bottom none
			.award_title
				width 50%
				display table-cell
				font 16pt/22pt 'MinionPro Semibold'
				padding-right 80px
				box-sizing border-box
			.award_s_title
				width 25%
				display table-cell
				font 16pt/22pt 'MinionPro MediumIt'
				padding-right 40px
				box-sizing border-box
			.award_place
				width 15%
				display table-cell
				font 14pt/22pt 'MinionPro Medium'
				padding-right 40px
				box-sizing border-box
			.award_year
				width 10%
				display table-cell
				text-align right
				font 14pt/22pt 'MinionPro Medium'

.events_block
	margin-bottom 100px
	.block_items
		width 100%
		display table
		border-collapse collapse
		.event_item
			display table-row
			overflow hidden
			border-bottom 20px solid transparent
			&:last-child
				border-bottom none
			.event_title
				width 50%
				display table-cell
				font 16pt/22pt 'MinionPro Semibold'
				padding-right 80px
				box-sizing border-box
			.event_s_title
				width 25%
				display table-cell
				font 16pt/22pt 'MinionPro MediumIt'
				padding-right 40px
				box-sizing border-box
			.event_place
				width 15%
				display table-cell
				font 14pt/22pt 'MinionPro Medium'
				padding-right 40px
				box-sizing border-box
			.event_year
				width 10%
				display table-cell
				text-align right
				font 14pt/22pt 'MinionPro Medium'