@media screen and (max-width: 680px)
	@import 'mobile/_office.styl'

.block_title
	font 26pt/28pt 'MinionPro Medium'
	margin-top 100px
	margin-bottom 60px
	letter-spacing 2px

.block_poster
	width 100%
	display block

.contacts_block
	overflow hidden
	.cv_email
		font 26pt/28pt 'MinionPro Semibold'
		text-decoration none
		display inline-block
		float left
		letter-spacing 2px
		border-bottom 1px solid transparent
		&:hover
			border-bottom 1px solid black
	.cv_adress
		clear both
		margin-top 80px
		width 40%
		float left
		padding-right 20px
		box-sizing border-box
		font 26pt/28pt 'MinionPro Semibold'
		letter-spacing 2px
	.cv_body
		margin-top 80px
		width 60%
		float right
		padding-left 20px
		box-sizing border-box
		hyphens auto
		font 16pt/22pt 'MinionPro Medium'


.peoples_block
	overflow hidden
	margin-top 40px
	margin-bottom 100px
	.block_title
		float left
		margin-top 0
		width 10%
	.block_items
		width 90%
		float right
		overflow hidden
		.block_item
			display block
			text-decoration none
			float right
			margin-left 20px
			// margin-bottom 20px
			width 200px
			.item_photo
				width 140px
				height 180px
				margin 0 auto
				margin-bottom 10px
				background-position top
				background-repeat no-repeat
				background-size cover
				transition .3s linear
			.item_name, .item_open
				text-align center
				font 16pt/22pt 'MinionPro Medium'
			.item_open
				display none
			&.open:hover
				.item_name
					display none
				.item_open
					display block
				.item_photo
					transition .3s linear
					opacity .5

.press_block
	position relative
	.swiper-wrapper
		padding-bottom 60px
	.block_item
		min-height 200px
		display block
		text-decoration none
		.item_poster
			opacity 1
			transition .3s linear
			position absolute
			z-index 99999
			width 100%
			height 100%
			background-position center
			background-size contain
			background-repeat no-repeat
		&:hover
			.item_poster
				transition .3s linear
				filter: opacity(.3) blur(2px)
			.item_title, .item_s_title, .item_year
				opacity 1
		.item_title
			opacity 0
			font 26pt/28pt 'MinionPro Medium'
			margin-bottom 20px
		.item_s_title
			opacity 0
			font 16pt/22pt 'MinionPro Medium'
		.item_year
			opacity 0
			color grey
			font 16pt/22pt 'MinionPro Medium'

.awards_block .block_title
	margin-top 80px

.events_block
	margin-bottom 100px

.events_block, .awards_block
	.block_items
		width 100%
		display table
		border-collapse collapse
		.block_cut
			display table-row
			font 12pt/14pt 'MinionPro Medium'
			text-transform uppercase
			letter-spacing 2px
			span
				cursor pointer
				&:hover
					border-bottom 1px solid black
		.block_item
			display table-row
			overflow hidden
			border-bottom 20px solid transparent
			&:last-child
				border-bottom none
			&.hidden
				display none
			.item_title
				width 50%
				display table-cell
				font 16pt/22pt 'MinionPro Semibold'
				padding-right 80px
				box-sizing border-box
			.item_s_title
				width 25%
				display table-cell
				font 16pt/22pt 'MinionPro MediumIt'
				padding-right 40px
				box-sizing border-box
			.item_place
				width 15%
				display table-cell
				font 14pt/22pt 'MinionPro Medium'
				padding-right 40px
				box-sizing border-box
			.item_year
				width 10%
				display table-cell
				text-align right
				font 14pt/22pt 'MinionPro Medium'