.footer_block
	padding-top 50px

.work_columns
	overflow hidden
	margin-bottom 80px
	.work_column
		width 50%
		box-sizing border-box
		&.left
			float left
			padding-right 20px
		&.right
			float right
			padding-left 20px
		.work_title
			font 26pt/28pt 'MinionPro Semibold'
			margin-bottom 100px
		.work_s_title
			font 16pt/22pt 'MinionPro MediumIt'
			margin-bottom 100px
		.work_description
			font 16pt/22pt 'MinionPro Medium'
		.work_poster
			width 100%
			display block
			margin-top 60px
		.work_meta
			overflow hidden
			.meta_column
				margin-bottom 40px
				&.title
					width 40%
					float left
					font 14pt/24pt 'MinionPro Semibold'
				&.data
					width 60%
					float right
					font 14pt/24pt 'MinionPro Medium'

.image
	margin 0 auto
	margin-bottom 100px
	.image_description
		font 16pt/22pt 'MinionPro Medium'
		margin-top 20px
		hyphens auto
		// text-align center
	img
		width 100%
		display block
	&.size_1x
		max-width 440px
	&.size_2x
		max-width 580px
	&.size_3x
		max-width 100%

.gallery-block
	margin-bottom 100px
	position relative
	.swiper-button-next
	.swiper-button-prev
		top -35px
		bottom 0
		margin auto
	.swiper-container
		margin 0 auto
		.swiper-slide
			width 100%
			.slide_image
				display block
				width 100%
			.slide_description
				width 100%
				font 16pt/22pt 'MinionPro Medium'
				text-align center
				margin-top 20px
				hyphens auto

	&.g_3x .swiper-container
		max-width 740px

	&.g_2x .swiper-container
		max-width 580px

	&.g_1x .swiper-container
		max-width 440px