.title_block
	padding-bottom 30px

.footer_block
	padding-top 10px

.works_block
	overflow hidden
	.work_item
		text-decoration none
		display block
		position relative
		float left
		width 40%
		margin-left 5%
		margin-right 5%
		margin-top 10px
		margin-bottom 140px
		&:nth-child(2n)
			float right
		.work_poster
			width 100%
			height 240px
			background-position center
			background-size cover
			background-repeat no-repeat
			transition .3s linear
		.work_title
			margin-top 20px
			font 26pt/28pt 'MinionPro Semibold'
		.work_s_title
			position absolute
			display none
			top 0
			width 100%
			height 100%
			padding-top 20px
			box-sizing border-box
			font 20pt/22pt 'MinionPro Semibold'
		&:hover
			.work_s_title
				display block
			.work_poster
				transition .3s linear
				filter: opacity(.3) blur(2px)
				// filter: brightness(50%) blur(2px)



