.work_columns
	overflow hidden
	margin-bottom 80px
	.work_column
		width 50%
		box-sizing border-box
		&.left
			float left
			padding-right 20px
		&.right
			float right
			padding-left 20px
		.work_title
			font 26pt/28pt 'MinionPro Semibold'
			margin-bottom 100px
		.work_s_title
			font 16pt/22pt 'MinionPro MediumIt'
			margin-bottom 100px
		.work_description
			font 16pt/22pt 'MinionPro Medium'
		.work_poster
			width 100%
			display block
			margin-top 60px
		.work_meta
			line-height 30px
			.meta_title
				font 12pt/14pt 'MinionPro Semibold'
				width 120px
				float left
				clear both

.image
	margin 0 auto
	margin-bottom 60px
	.image_description
		font 16pt/22pt 'MinionPro Medium'
		text-align center
		margin-top 20px
		hyphens auto
	img
		width 100%
		display block
	&.size_400
		max-width 400px
	&.size_600
		max-width 600px
	&.size_800
		max-width 800px

.gallery-block
	margin-bottom 60px
	.swiper-container
		max-width 800px
		margin-left auto
		margin-right auto
		.swiper-slide
			background-size contain
			background-position center
			background-repeat no-repeat
			height 540px

	&.g_600 .swiper-container
		max-width 600px
		height 440px

	&.g_400 .swiper-container
		max-width 400px
		height 380px