extends ../layout
include ../_forms

block header_meta
	- var content_title= 'РЕДАКТИРОВАТЬ КАТЕГОРИЮ'

block header_include
	- var include_libs_css = ['font-awesome.css', 'wysiwyg-editor.min.css']
	- var include_css = ['add.css']
	- var include_libs_js = ['wysiwyg.min.js', 'wysiwyg-editor.min.js']
	- var include_js = ['editor.js', 'add.js']

block sub_menu
	a.sub_item.back_link(href='/admin/categorys') Назад
	span.sub_item.toggle_eng Перевод


block content
	.form_block
		.title= content_title
		form(action="", method="post")
			.form_title Название:
			+form_text_single('title', category)
			.form_title Синоним (обязательно):
			input(type='text', name='sym', value=category.sym)
			.form_title Статус:
			select(name='status')
				option(value='base') Обычный
				option(value='hidden', selected= category.status == 'hidden' && 'hidden') Скрытый
				option(value='special', selected= category.status == 'special' && 'special') Особый
			br
			br
			input(type='submit', value='отправить')