extends ../layout
include ../_forms.jade

block paths
	- var content_title= 'ДОБАВИТЬ РАБОТУ'

block content_style
	link(rel='stylesheet', type='text/css', href='/libs/css/pickmeup.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/libs/css/font-awesome.css' + version)
	link(rel='stylesheet', type='text/css', href='/libs/css/wysiwyg-editor.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/' + __app_name + '/css/add.css' + version)

block content_scripts
	script(type='text/javascript', src='/libs/js/jquery.pickmeup.min.js' + version)
	script(type='text/javascript', src='/libs/js/wysiwyg.min.js' + version)
	script(type='text/javascript', src='/libs/js/wysiwyg-editor.min.js' + version)
	script(type='text/javascript', src='/libs/js/jquery-ui.min.js' + version)
	script(type='text/javascript', src='/libs/js/jquery.filedrop.js' + version)
	script(type='text/javascript', src='/build/' + __app_name + '/js/upload.js' + version)
	script(type='text/javascript', src='/build/' + __app_name + '/js/editor.js' + version)
	script(type='text/javascript', src='/build/' + __app_name + '/js/add.js' + version)
	script(type='text/javascript', src='/build/' + __app_name + '/js/a_events.js' + version)

block sub_menu
	a.sub_item.back_link(href='/admin/works') Назад
	span.sub_item.toggle_eng Перевод

block content
	.form_block
		.title= content_title
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Название:
			+form_text_single('title')
			.form_title Подзаголовок:
			+form_text_single('s_title')
			.form_title Синоним:
			input(type='text', name='sym')
			.form_title Год:
			input(type='number', name='year', value=new Date().getFullYear())
			.form_title Заказчик:
			+form_text_single('client')
			.form_title Площадь:
			+form_text_single('area')
			.form_title Описание:
			+form_text_multi('description')
			.form_title Обложка:
			+form_single_file('poster')(accept='image/jpeg,image/png,image/gif')
			.form_title Обложка (в колонке):
			+form_single_file('poster_column')(accept='image/jpeg,image/png,image/gif')
			.form_title Изображения:
			+form_images_upload()
			.form_title Файлы ZIP / PDF:
			+form_multiple_files('attach')(accept='application/pdf,application/zip')
			.form_title Категории:
			+form_multiple_select('categorys', categorys)
			.form_title Тип:
			select(name='type')
				option(value='project') Проект
				option(value='research') Исследование
			.form_title Видимость:
			label
				input(type='checkbox', name='status', value='hidden')
				span= ' скрыть'
			.form_title Дата публикации:
			+form_date('date')
			br
			br
			input(type='submit', value='отправить')