extends ../layout
include ../_forms.jade

block paths
	- var content_title= 'ДОБАВИТЬ ПУБЛИКАЦИЮ'

block content_style
	link(rel='stylesheet', type='text/css', href='/libs/css/pickmeup.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/libs/css/font-awesome.css' + version)
	link(rel='stylesheet', type='text/css', href='/libs/css/wysiwyg-editor.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/' + __app_name + '/css/add.css' + version)

block content_scripts
	script(type='text/javascript', src='/libs/js/jquery.pickmeup.min.js' + version)
	script(type='text/javascript', src='/libs/js/wysiwyg.min.js' + version)
	script(type='text/javascript', src='/libs/js/wysiwyg-editor.min.js' + version)
	script(type='text/javascript', src='/build/' + __app_name + '/js/editor.js' + version)
	script(type='text/javascript', src='/build/' + __app_name + '/js/add.js' + version)
	script(type='text/javascript', src='/build/' + __app_name + '/js/a_events.js' + version)

block sub_menu
	a.sub_item.back_link(href='/admin/publications') Назад
	span.sub_item.toggle_eng Перевод

block content
	.form_block
		.title= content_title
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Название:
			+form_text_single('title')
			.form_title Подзаголовок:
			+form_text_single('s_title')
			.form_title Ссылка:
			input(type='text', name='link')
			.form_title Год:
			input(type='number', name='year', value=new Date().getFullYear())
			.form_title Обложка:
			+form_single_file('poster')(accept='image/jpeg,image/png,image/gif')
			.form_title Видимость:
			label
				input(type='checkbox', name='status', value='hidden')
				span= ' скрыть'
			.form_title Дата публикации:
			+form_date('date')
			br
			br
			input(type='submit', value='отправить')