extends layout

block paths
	- var content_title= 'kosmos'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/' + __app_name + '/main.js' + version)

block title
	a(href='/cv') cv

block content
	.poster_block
		each poster in posters
			b= poster