extends layout

block paths
	- var content_title= __('KOSMOS')
	- var content_description= __('Architectural office which collaborates virtually between Moscow, Basel, New York and Bangkok.')
	- var menu_active = 'main'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/' + __app_name + '/css/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/' + __app_name + '/js/main.js' + version)

block content
	.posters_block
		each poster in posters
			img.poster_item(data-src=poster)