extends layout

block paths
	- var content_title= __('KOSMOS')
	- var menu_active = 'main'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/main.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/' + __app_name + '/main.js' + version)

block content
	.poster_block
		each poster in posters
			img.poster_item(data-src=poster)