extends layout

block paths
	- var content_title= __('K O S M O S') + ' :: ' + __('R E S E A R C H')
	- var menu_active = 'research'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/researches.css' + version)

block content_scripts
	//- script(type='text/javascript', src='/build/js/' + __app_name + '/researches.js' + version)

block content
	.researches_block
		each research in researches
			a.research_item(href='/researches/' + research._short_id)
				.research_poster(style='background-image: url(' + research.poster + ')')
				.research_title= research.i18n.title.get(locale)
				.research_s_title= research.i18n.s_title.get(locale)