extends layout

block paths
	- var content_title= __('K O S M O S') + ' :: ' + __('W O R K S')
	- var menu_active = 'works'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/works.css' + version)

block content_scripts
	//- script(type='text/javascript', src='/build/js/' + __app_name + '/works.js' + version)

block content
	.works_block
		each work in works
			a.work_item(href='/works/' + work._short_id)
				.work_poster(style='background-image: url(' + work.poster + ')')
				.work_title= work.i18n.title.get(locale)
				.work_s_title= work.i18n.s_title.get(locale)