extends layout

block paths
	- var content_title= __('KOSMOS') + ' | ' + __(type == 'project' ? 'PROJECTS' : 'RESEARCH')
	- var menu_active = type

block content_style
	link(rel='stylesheet', type='text/css', href='/build/' + __app_name + '/css/works.css' + version)

block content_scripts
	//- script(type='text/javascript', src='/build/js/' + __app_name + '/works.js' + version)

block content
	.works_block
		each work in works
			a.work_item(href='/' + (work.type == 'project' ? 'projects' : 'research') + '/' + work._short_id)
				.work_poster: .poster_image(style='background-image: url(' + work.poster + ')')
				.work_title= work.i18n.title.get(locale)
				.work_s_title= work.i18n.s_title.get(locale)