extends layout

block paths
	- var content_title= __('KOSMOS') + ' | ' + __(type == 'project' ? 'PROJECTS' : 'RESEARCH')
	- var menu_active = type

block content_style
	link(rel='stylesheet', type='text/css', href='/build/' + __app_name + '/css/works.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/' + __app_name + '/js/works.js' + version)

block content
	.works_block
		include _works.jade